@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDKukdetopokki-Lt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ece6cc;
}

ul {
    list-style: none;
}
.js-clock, .js-greetings {
    background-color: rgba(212, 212, 212, 0.5);
    border-radius: 5px;
}
h1 {
    color : #2e2e2e;    
    font-family: 'LAB디지털';
    font-weight: normal;
    font-size: 150px;
    margin : 0;
}

.form, .greetings {
    display: none;
    font-size: 50px;
    color:#222222;
    margin: 0;
    font-family: 'SDKukdetopokki';
    font-weight: normal;
}

.form {
    width : 300px;
    padding:10px;
}

.showing {
    display : block;
}

.content {
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height: 100%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes fadeIn {
    from {
        opacity : 0;
    } to {
        opacity : 1;
    }
}

.bgImage {
    position : absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    animation: fadeIn 0.5s linear;
}

.todo-area {
    width : 450px;
    margin-top:30px;
    background-color: #e1f1eee8;
    border-radius: 5px;

}
.js-toDoForm {
    width : 300px;
    margin:0 auto;
    margin-top:20px;
}

input {
    width : 100%;
    padding : 10px;
    font-size : 20px;
    border:0;
    outline: 0;
    box-shadow: none;
    border-radius: 10px;
}

input:focus::placeholder {
    color : transparent;
}

.js-toDoList span {
    margin-left:10px;
}
.js-weather {
    position : absolute;
    top :50px;
    right:150px;
    color : #c2c2c2;
    font-size : 20px;
    font-family : 'TTTogether';
    text-shadow: 2px 2px 2px #131313;
}